.container {
  padding-bottom: 10px;
}

.row-margin {
  margin-top: 10px;
  margin-bottom: 0px;
}

.div-margin {
  margin-top: 20px;
  margin-bottom: 0px;
}

.msg {
  margin-top: 30px;
  margin-bottom: 0px;
}
